@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); /* I only want this for the title to look fancy */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap'); /* Default font for anything else*/

:root {
  font-family: 'ibm plex mono', helvetica, arial, sans-serif;
  line-height: 1.67;
  font-weight: 400;

  color-scheme: light;
  color: rgba(9, 69, 74, 0.87);
  background-color: #3e625f;
}

.h1 {
  font-family: 'dm serif display', helvetica, arial, sans-serif;
  line-height: 1.67;
  font-weight: 400;
  font-size: 50px;
  padding-top: 40px;
  color: rgba(9, 69, 74, 0.87);
}

.main_ui {
  text-align: center;
  width: 670px;
  height: 1000px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 auto;
}

